# Scrapping A "Table" From A Webpage By Five Lines of Code

In [1]:
import pandas as pd

In [2]:
url =  'http://www.fasttrack.co.uk/league-tables/tech-track-100/league-table/'
dfs = pd.read_html(url)

In [3]:
# print(type(dfs))

<class 'list'>

In [4]:
# print(len(dfs))

1

In [5]:
df= dfs[0]
df.head()

,0,1,2,3,4,5,6,7
0,Rank,Company,Location,Year end,Annual sales rise over 3 years,Latest sales £000s,Staff,Comment
1,1,Plan.comCommunications provider,Isle of Man,Sep-17,364.38%,"*35,418",90,About 650 partners use its telecoms platform t...
2,2,PsiOxusBiotechnology developer,Oxfordshire,Dec-17,311.67%,53136,54,Received a $15m milestone payment from its dev...
3,3,CensorNetCloud security software developer,Basingstoke,Dec-17,210.17%,"*7,535",77,"Has more than 4,000 customers, including McDon..."
4,4,thoughtonomyAutomation software developer,East London,May-18,205.20%,"*16,916",100,It sells to 28 countries and 50% of revenue is...

In [6]:
#df.columns = df.iloc[0]
#df = df.drop(0, axis=0)
#df.head()

,Rank,Company,Location,Year end,Annual sales rise over 3 years,Latest sales £000s,Staff,Comment
1,1,Plan.comCommunications provider,Isle of Man,Sep-17,364.38%,"*35,418",90,About 650 partners use its telecoms platform t...
2,2,PsiOxusBiotechnology developer,Oxfordshire,Dec-17,311.67%,53136,54,Received a $15m milestone payment from its dev...
3,3,CensorNetCloud security software developer,Basingstoke,Dec-17,210.17%,"*7,535",77,"Has more than 4,000 customers, including McDon..."
4,4,thoughtonomyAutomation software developer,East London,May-18,205.20%,"*16,916",100,It sells to 28 countries and 50% of revenue is...
5,5,PerkboxEmployee engagement services,Central London,Dec-17,204.12%,"*34,700",200,Acquired software platform Loyalty Bay for an ...